manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow'
  author = 'Ishita Jain'
  nextflowVersion = '>=23.10.0'
}


params {
  index='/fsimb/groups-external/sfbcardosogr/ishita/ensembl/grch38/canonical/index/star/2.7.3a'
  reads='/fsimb/groups-external/sfbcardosogr/ishita/nextflow_pipelines/fastq_files/*.fastq.gz'
  gtf_file='/fsimb/groups-external/sfbcardosogr/ishita/ensembl/grch38/canonical/annotation/Homo_sapiens.GRCh38.98.gtf'
  samples='/fsimb/groups-external/sfbcardosogr/ishita/nextflow_pipelines/samples.txt'
  basedir='/fsimb/groups-external/sfbcardosogr/ishita/nextflow-pipelines'
  helper_file='/fsimb/groups-external/sfbcardosogr/ishita/nextflow-pipelines/params_helper.txt'
  help = false

}


