manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow'
  author = 'Ishita Jain'
  nextflowVersion = '>=23.10.0'
}


params {
  index=''
  inputDir=''
  gtf_file=''
  samples='/fsimb/groups-external/sfbcardosogr/ishita/nextflow_pipelines/samples.txt'
  basedir=''
  ref=''
  group_1 = ''
  group_2 = ''
  helper_file='/fsimb/groups-external/sfbcardosogr/ishita/nextflow-pipelines/params_helper.txt'
  help = false

}


