manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow'
  author = 'Ishita Jain'
  nextflowVersion = '>=23.10.0'
}


params {
  index=''
  reads='/fsimb/groups-external/sfbcardosogr/ishita/nextflow_pipelines/fastq_files/*.fastq.gz'
  gtf_file=''
  samples='/fsimb/groups-external/sfbcardosogr/ishita/nextflow_pipelines/samples.txt'
  basedir=''
  helper_file='/fsimb/groups-external/sfbcardosogr/ishita/nextflow-pipelines/params_helper.txt'
  help = false

}


